.io-ox-contacts-distrib-window {

    [data-extension-id="add-participant"] input {
        height: 1.875rem
    }
}

.smartphone .io-ox-contacts-distrib-window .create-distributionlist {
  padding-left: 24px;
  padding-right: 24px;
}
