.modal.flex.alarms-view-dialog {
    .modal-dialog { min-width: 600px };
    .modal-content {
        min-height: 300px;
        max-height: 500px;
        // if there is not enough space we set the min height to the max height in modal dialogs
        @media (max-height: 548px) {
            min-height: calc(100vh - 48px);
            max-height: calc(100vh - 48px);
        }
    }
}

@media all and (max-width: 600px), all and (max-device-width: 600px) {
  .modal.flex.alarms-view-dialog .modal-dialog { min-width: initial };
}

.alarms-link-view  {
    .alarm-link {
        padding-left: 0;
        padding-bottom: 6px;
        white-space: normal;
        text-align: left;
    }

    .alarm-link-list {
        margin-bottom: 0px;
    }
}

.alarms-view {
  .alarm-list {
    /*
    cuts off outlines / do we need overflow-x here?
    overflow-x: hidden;
    */
    .alarm-list-item {
      .item {
        .form-control {
          width: 28%;
          // select box caret needs space
          padding-right: 32px;
        }

        // unsupported alarm types
        div.alarm-action {
            width: 28%;
            text-overflow: ellipsis;
            overflow: hidden;
            padding-left: 9px;
        }

        line-height: 30px;
        display: flex;
        justify-content: space-between;
      }

      &:hover {
        background-color: var(--shade-a5);
      }
      .alarm-remove {
        width: 40px;
        text-align: center;
        padding: 0;
        &:hover,&:focus {
          background-color: var(--shade-a5);
        }
      }
    }
  }
}
