@import '@/themes/imports.scss';

.io-ox-template-settings {

  .list-item-controls {
    display: flex;
    align-items: center;
  }
  li.widget-settings-view {
    padding-right: 40px;
  }

  > div > button:not(:first-child) {
    margin-left: 16px;
    .smartphone & {
      margin-left: 0;
    }
  }

  .radio label { width: 100%; }

  .template-preview {
    width: 100%;
    color: var(--text-gray);
    padding-top: 0px;
    padding-right: 40px;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
    > div {
      overflow: hidden;
      max-height: 144px;
    }
  }

  .default-label {
    font-size: 16px;
    padding-top: 0;
  }
}

.settings-list-view > li > * {
  &.pt-0 {
    padding-top: 0;
  }
  &.pb-0 {
    padding-bottom: 0;
  }
}

.settings-list-view .account .bi {
  margin: 0 8px 0 0;
}
